@keyframes top {
  0% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(-2px);
  }
}

@keyframes sec-minu {
  0% { 
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

// Header Animation
@keyframes header-image {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

@keyframes header-arrow {
  0% {
    transform: translateY(0px);
  }
  30% {
    transform: translateY(-10px);
  }
  70% {
    transform: translateY(0);
  }
}

// Aarticle Animation
@keyframes article-arrow {
  50% {
    transform: translateX(5px);
  }
}


// Galler Animation 
@keyframes image-fill {
  100% {
    width: 150%;
    height: 150%;
  }
}

// Head Animation
@keyframes left-bullets {
  40% {
    left: 0px;
    width: 25%;
    height: 30%;
  }
  100% {
    width: 55%;
    height: 102%;
    left: 0px;
    border-radius: 0%;
  }
}

@keyframes right-bullets {
  40% {
    right: 0px;
    width: 25%;
    height: 30%;
  }
  100% {
    width: 55%;
    height: 102%;
    right: 0px;
    border-radius: 0%;
  }
}