$mainColor: #2296F4;
$secColor: #444444;
$backGroundColor: #ECECEC;
$mainPadding: 15px;

// Feature Vars
$color1: #ff6262;
$color2: #008e60;
$color3: #0090d4;

@import "_myframe";
@import "_animation";

.top {
  position: fixed;
  z-index: 999999;
  bottom: 15px;
  right: 15px;
  font-size: 25px;
  animation: top .5s alternate linear infinite;
  i {
    color: $mainColor;
  }
}
nav {
  .container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    align-items: center;
    .logo {
      font-size: 26px;
      padding: 10px 0;
      letter-spacing: 1px;
      a {
        font-weight: 700;
        color: $mainColor;
      }
    }
    .main-links {
      display: flex;
      justify-self: flex-end;
      li {
        a {
          display: block;
          color: $secColor;
          padding: 20px 10px;
          position: relative;
          &::before,
          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            transition: all .35s ease-in-out;
          }
          &::before {
            background-color: #e0e0e0b7;
            opacity: .3;
            height: 100%;
          }
          &::after {
            height: 10%;
            background-color: $mainColor;
          }
          &:hover {
            font-weight: bold;
            color: $mainColor;
            &::before,
            &::after {
              width: 100%;
            }
          }
        }
      }
      .sec-links {
        .links {
          background-color: #FFF;
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
          gap: 25px;
          position: absolute;
          left: 0px;
          top: 100%;
          width: 100%;
          transform: rotateX(90deg);
          border-bottom: 2px solid $mainColor;
          box-shadow: 0px -1px 2px 0 #ececec;
          z-index: 999;
          overflow: hidden;
          figure {
            text-align: center;
            @media (max-width: 577px) {
              display: none;
            }
          }
          .minu {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            align-items: center;
            ul {
              li {
                width: 200px;
                &:not(:last-child) {
                  border-bottom: 1px solid #8d92912c;
                }
                a {
                  color: $mainColor;
                  font-weight: 700;
                  padding: 10px;
                  font-size: 14px;
                  &::after {
                    display: none;
                  }
                  i {
                    padding-right: 8px;
                  }
                }
              }
            }
          }
        }
        &:hover {
          .links {
            animation: sec-minu 350ms linear forwards;
            transform: rotateX(0deg);
          }
        }
      }
    }
    @media (max-width: 767px) {
      .logo {
        font-size: 36px;
      }
      .logo,
      .main-links {
        justify-self: center;
        grid-column: 1 / 4;
      }
    }
    @media (max-width: 991px) {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      .main-links {
        .sec-links {
          .links {
            grid-template-columns: repeat(auto-fill, minmax(269px, 1fr));
            .minu {
              ul {
                grid-column: 1/ 4;
                li {
                  width: 100%;
                  &:last-child {
                    border-bottom: 1px solid #8d92912c;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
header {
  position: relative;
  overflow: hidden;
  z-index: 0;
  .container {
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    column-gap: 25px;
    align-items: center;
    .text {
      h1 {
        margin: 0;
        font-size: 30px;
      }
      p {
        color: $secColor;
        font-size: 18px;
      }
    }
    figure {
      text-align: center;
      img {
        animation: header-image 1s linear alternate infinite;
      }
    }
    position: relative;
    a {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      animation: header-arrow .6s linear alternate infinite;
      display: block;
      text-align: center;
      color: $mainColor;
      font-size: 20px;
    }
    @media (max-width: 767px) {
      .text {
        grid-column: 1 / 4;
        text-align: center;
      }
      figure {
        display: none;
      }
    }
    @media (max-width: 991px) {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      // h1 {
      //   // font-size: 1.8em;
      // }
    }
  }
  &::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 0px;
    background-color: $backGroundColor;
    width: 100%;
    transform: skewY(-9deg);
    transform-origin: top left;
    z-index: -1;
  }
}
.articles {
  .container {
    @extend %containerPadding;
    .article {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 25px 25px;
      align-items: center;
      .item {
        box-shadow: -5px 5px 8px 0px #d7d7d7a6,
        5px 5px 8px 0px #d7d7d7a6;
        border-radius: 5px;
        transition: all .3s ease-in-out;
        figure {
          img {
            border-radius: 5px 5px 0 0;
          }
        }
        .text {
          padding: 15px;
          border-bottom: 2px solid #d7d7d7a6;
          h4 {
            font-size: 20px;
          }
          p {
            color: $secColor;
          }
        }
        .read {
          @extend %f-center;
          justify-content: space-between;
          padding: 15px;
          a {
            color: $mainColor;
            font-weight: bold;
          }
        }
        &:hover {
          transform: translateY(-10px);
          i {
            animation: article-arrow .7s linear alternate infinite ;
          }
        }
      }
    }
  }
}
.gallery {
  @extend %background;
  .container {
    @extend %containerPadding;
    .album {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      gap: 25px 25px;
      align-items: center;
      figure {
        overflow: hidden;
        text-align: center;
        position: relative;
        border: 15px solid #FFF;
        &::before {
          content: "";
          @extend %p-center;
          width: 0%;
          height: 0%;
          border-radius: 50%;
          background-color: #ffffff38;
          z-index: 9999;
        }
        img {
          transition: all .5s ease-in-out;
        }
        &:hover {
          img {
            transform: scale(1.07) rotate(2deg);
          }
          &::before {
            animation: image-fill .3s ease-out;
          }
        }
      }
    }
  }
}
.features {
  .container {
    @extend %containerPadding;
    .content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      gap: 25px 25px;
      align-items: center;
      @media (max-width: 767px) {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      }
      .item {
        border: 2px solid #DDD;
        text-align: center;
        figure {
          overflow: hidden;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: .5;
          }
          &::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            border-style: solid;
            border-width: 0px 0px 120px 520px;
            border-color: transparent transparent #FFF transparent;
            transition: all .3s linear;
          }
        }
        &:hover {
          figure{
            &::after {
              border-width: 0px 520px 180px 0px;
            }
          }
        }
        .text {
          padding:0 25px;
          h3 {
            position: relative;
            font-size: 24px;
            width: fit-content;
            margin: 0 auto 25px;
            &::before {
              content: "";
              position: absolute;
              bottom: -5px;
              left: 50%;
              transform:translateX(-50%);
              height: 3px;
              width: 75%;
            }
          }
          p {
            color: $secColor;
          }
        }
        &:nth-child(1) {
          figure,
          h3,
          a {
            &::before {
              background-color: $color1;
            }
          }
          a {
            color: $color1;
            border: 2px solid $color1;
          }
        }
        &:nth-child(2) {
          figure,
          h3,
          a {
            &::before {
              background-color: $color2;
            }
          }
          a {
            color: $color2;
            border: 2px solid $color2;
          }
        }
        &:nth-child(3) {
          figure,
          h3,
          a {
            &::before {
              background-color: $color3;
            }
          }
          a {
            color: $color3;
            border: 2px solid $color3;
          }
        }
        a {
          display: block;
          width: fit-content;
          margin: 25px auto;
          padding: 5px 25px;
          border-radius: 5px;
          font-weight: bold;
          position: relative;
          transition: .35s ease-in-out;
          &::before {
            transition: .35s ease-in-out;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            height: 100%;
            z-index: -1;
          }
          &:hover {
            color: #FFF;
            &::before {
              width: 100%;
            }
          }
        }
        
      }
    }
  }
}
.testimonials {
  @extend %background;
  .container {
    @extend %containerPadding;
    .content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 25px 25px;
      align-items: center;
      .item {
        background-color: #FFF;
        position: relative;
        padding: 20px;
        figure {
          position: absolute;
          top: -25px;
          right: 0;
          width: 50px;
          height: 50px;
          img {
            outline: 5px solid $backGroundColor;
            border-radius: 50%;
          }
        }
        h4 {
          font-size: 20px;
        }
        .job {
          color: #8d8c8c;
        }
        .stars {
          padding: 5px 0;
          i {
            font-size: 14px;
            color: #FFD700;
            &:last-child {
              color: #AAA;
            }
          }
        }
        .text {
          color: $secColor;
          font-size: 15px;
        }
      }
    }
  }
}
.team {
  .container {
    @extend %containerPadding;
    .content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 30px 30px;
      align-items: center;
      .item {
        padding-top: 50px;
        position: relative;
        .image {
          @extend %f-center;
          img {
            border-radius: 10px;
          }
          .social {
            @extend %f-center;
            flex-direction: column;
            margin: 20px;
            a {
              color: #777676;
              margin-bottom: 20px;
              transition: all .2s ease-in-out;
              &:hover {
                color: $mainColor;
              }
            }
          }
        }
        .text {
          color: $secColor;
          padding: 25px 0 25px calc(15% + 25px);
          h4 {
            color: $mainColor;
            transition: all .3s ease-in-out;
          }
          p {
            color: $secColor;
          }
        }
        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          width: 85%;
          background-color: $backGroundColor;
          border-radius: 10px;
          z-index: -1;
        }
        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          width: 0%;
          opacity: .2;
          border-radius: 10px;
          background-color: $secColor;
          z-index: -1;
          transition: all .3s ease-in-out;
        }
        &:hover {
          img {
            filter: grayscale(100%);
          }
          h4 {
            color: $secColor;
          }
          &::after {
            width: 85%
          }
        }
      }
    }
  }
}
.services {
  @extend %background;
  .container {
    @extend %containerPadding;
    .content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 30px 30px;
      align-items: center;
      counter-reset: counter;
      .item {
        box-shadow: 0px 5px 8px 0px #c4c4c4;
        background-color: #FFF;
        transition: all .3s ease-in-out;
        position: relative;
        .serv {
          padding: 25px;
          text-align: center;
          i {
            font-size: 40px;
            color: #d6d5d5;
            margin-bottom: 10px;
          }
          p {
            color: $mainColor;
            font-weight: bold;
          }
        }
        .count {
          @extend %f-center;
          justify-content: space-between;
          background-color: hsla(0, 0%, 96%, 0.7);
          p {
            padding: 5px 15px;
            color: #FFf;
            z-index: 9999;
            position: relative;
            height: 35px;
            font-weight: bold;
            font-size: 18px;
            &::before {
              counter-increment: counter;
              content: "0" counter(counter);
              position: absolute;
              top: 0;
              left: 0;
              width: 45px;
              height: 35px;
              @extend %f-center;
              background-color: $mainColor;
            }
            &::after {
              content: "";
              position: absolute;
              top: 0;
              right: -75px;
              width: 80px;
              height: 100%;
              transform: skewX(-45deg);
              background-image: linear-gradient(to right, $mainColor 50%, #DDD 50%);
              z-index: -1;
            }
          }
          a {
            padding-right: 8px;
            color: $mainColor;
            font-size: 13px;
          }
        }
        &::before,
        &::after {
          content: "";
          position: absolute;
          top: -3px;
          right: 50%;
          width: 0%;
          height: 3px;
          background-color: $mainColor;
          transition: all .3s ease-in-out;
        }
        &::after {
          left: 50%;
        }
        &:hover {
          transform: translateY(-10px);
          &::before,
          &::after {
            width: 50%;
          }
        }
      }
    }
  }
}
.skills {
  .container {
    @extend %containerPadding;
    .content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      @media (max-width: 991px) {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      }
      gap: 25px 25px;
      align-items: center;
      .skill {
        .progress {
          @extend %f-center;
          justify-content: space-between;
          margin-bottom: 50px;
          position: relative;
          p {
            padding: 2px 3px;
            font-size: 11px;
            font-weight: bold;
            line-height: 1;
            color: $mainColor;
            border: 1px solid #BBB;
            border-radius: 4px;
          }
          &::before,
          &:after {
            content: "";
            position: absolute;
            top: 30px;
            left: 0;
            width: 100%;
            height: 20px;
            background-color: #ebebeb;
          }
          &::after {
            background-color: $mainColor;
          }
          &:nth-child(1) {
            &::after {
              width: 90%;
            }
          }
          &:nth-child(2) {
            &::after {
              width: 80%;
            }
          }
          &:nth-child(3) {
            &::after {
              width: 65%;
            }
          }
          &:nth-child(4) {
            &::after {
              width: 85%;
            }
          }
        }
      }
      @media (max-width: 767px) {
        figure {
          display: none;
        }
        .skill {
          grid-column: 1 / 4;
        }
      }
    }
  }
}
.how-works {
  @extend %background;
  .container {
    @extend %containerPadding;
    .content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      @media (max-width: 991px) {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      }
      gap: 25px 25px;
      align-items: center;
      figure {
        text-align: center;
      }
      .item {
        @extend %f-center;
        padding: 20px;
        margin-bottom: 25px;
        background-color: #f3f3f3ec;
        border: 2px solid #FFF;
        position: relative;
        figure {
          @extend %f-center;
          margin: 20px;
        }
        p {
          color: #585858;
        }
        &::before {
          content: "";
          @extend %p-center;
          width: 0%;
          height: 0%;
          background-color: #999999d7;
          z-index: -1;
          transition: all .5s ease-in-out;
        }
        &:hover {
          &::before {
            width: 100%;
            height: 100%;
          }
        }
      }
      @media (max-width: 767px) {
        figure {
          display: none;
        }
        .work {
          grid-column: 1 / 4;
          .item {
            flex-direction: column;
            text-align: center;
          }
        }
      }
    }
  }
}
.events {
  .container {
    @extend %containerPadding;
    .content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      @media (max-width: 991px) {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      }
      gap: 25px 25px;
      align-items: center;
      figure {
        text-align: center;
      }
      .time{
        text-align: center;
        .counter {
          @extend %f-center;
          > div {
            @extend %f-center;
            flex-direction: column;
            border: 1px solid #BBB;
            margin-right: 4px;
            margin-left: 4px;
            border-radius: 4px;
            transition: all .25s ease-in-out;
            p {
              width: 50px;
              &:first-child {
                padding: 8px;
                font-size: 25px;
                color: #0098d4;
              }
              &:last-child {
                border-top: 1px solid #BBB;
                padding: 5px;
                font-size: 11px;
                color: #585858;
                transition: all .25s ease-in-out;
              }
            }
            &:hover {
              border-color: $mainColor;
              .txt {
                border-color: $mainColor;
              }
            }
          }
        }
        .text {
          h4 {
            font-size: 28px;
            margin-top: 20px;
            margin-bottom: 20px;
          }
          p {
            color: #585858 ;
          }
        }
      }
    }
    .search {
      @extend %f-center;
      background-color: #f3f3f3fb;
      width: fit-content;
      padding: 20px;
      border-radius: 50px;
      margin: 30px auto 0;
      input {
        height: 40px;
        margin-right: 20px;
        width: 300px;
        padding: 10px;
        border-radius: 20px;
        border: none;
        font-size: 13px;
        caret-color: $mainColor;
        &::placeholder {
          color: $mainColor;
        }
        &:focus {
          outline: none;
          color: $mainColor;
          &::placeholder {
            opacity: 0;
            transition: all .3s ease-in-out;
          }
        }
      }
      a {
        display: block;
        height: 40px;
        background-color: $mainColor;
        color: #FFF;
        padding: 10px;
        border-radius: 20px;
        font-size: 14px;
        text-align: center;
      }
    }
    @media (max-width: 767px) {
      .content {
        figure {
          display: none;
        }
        .time {
          grid-column: 1 / 4;
          .counter {
            > div {
              p {
                width: 56px;
              }
              .num {
                padding: 8px;
              }
            }
          }
          .text {
            padding: 15px;
          }
        }
      }
      .search {
        padding: 10px;
        width: 100%;
        border-radius: 0;
        flex-direction: column;
        input{
          width: 100%;
          border-radius: 0;
          margin: 0 0 10px 0;
        }
        a {
          width: 100%;
          border-radius: 0;
          font-size: 15px;
          font-weight: bold;
        }
      }
    }
  }
}
.pricing {
  @extend %background;
  position: relative;
  .right {
    position: absolute;
    top: 170px;
    right: 0;
  }
  .left {
    position: absolute;
    bottom: 150px;
    left: 0;
  }
  .container {
    @extend %containerPadding;
    .content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      @media (max-width: 1199px) {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      }
      gap: 20px 20px;
      align-items: center;
      .item {
        background-color: #FFF;
        box-shadow: 0px 5px 8px 0px #c4c4c4;
        position: relative;
        z-index: 1;
        .price {
          padding: 20px;
          text-align: center;
          figure {
            margin: 25px;
          }
          span {
            display: block;
            &:first-of-type {
              font-size: 36px;
              font-weight: bold;
              color: $mainColor;
              line-height: 1.2;
            }
            &:last-of-type {
              font-size: 11px;
              color: #585858;
            }
          }
          position: relative;
          .popular {
            transform-origin: top right;
            transform: rotate(90deg) translate(100%);
            position: absolute;
            top: 0;
            right: 20px;
            height: 30px;
            width: 125px;
            padding: 8px;
            font-size: 14px;
            font-weight: bold;
            color: #FFF;
            background-color: $mainColor;
            text-align: left;
            line-height: 1;
            letter-spacing: 1px;
            &::before {
              content: "";
              position: absolute;
              right: 0px;
              top: 0;
              border-style: solid;
              border-width: 15px;
              border-color: transparent #FFF transparent transparent;
            }
          }
        }
        ul {
          li {
            padding: 15px;
            border-top: 1px solid #8d92912c;
            color: $secColor;
            font-size: 15px;
            i {
              color: $mainColor;
              padding-right: 5px;
            }
          }
        }
        a {
          display: block;
          text-align: center;
          padding: 10px;
          border: 2px solid $mainColor;
          border-radius: 5px;
          width: fit-content;
          margin: 20px auto;
          color: $mainColor;
          font-size: 14px;
          font-weight: bold;
          transition: all .3s ease-in-out;
          &:hover {
            background-color: $mainColor;
            color: #FFF;
          }
        }
        &::before,
        &::after {
          content: "";
          position: absolute;
          right: 0;
          width: 0%;
          height: 50%;
          background-color: #a7a7a721;
          background-color: #e2e2e257;
          transition: all .5s ease-in-out;
          z-index: -1;
        }
        &::after {
          left: 0;
          bottom: 0;
        }
        &:hover {
          &::before,
          &::after {
            width: 100%;
          }
        }
        @media (min-width: 992px) {
          &:nth-child(2) {
            transform: translateY(-15px);
          }
        }
      }
    }
  }
}
.videos {
  .container {
    @extend %containerPadding;
    .content {
      display: flex;
      border: 2px solid #e0e0e0;
      color: $secColor;
      .list {
        .title {
          @extend %f-center;
          justify-content: space-between;
          color: $mainColor;
          background-color: #eeeeee;
          padding: 10px;
          i {
            color: $mainColor;
          }
        }
        ul {
          width: 250px;
          li {
            a {
              display: block;
              padding: 10px;
              font-size: 14px;
              color: $secColor;
              transition: all .25s ease-in-out;
              p {
                color: #8d8c8c;
                font-size: 13px;
              }
              &:hover {
                background-color: rgba(238, 238, 238, 0.3);
                color: $mainColor;
              }
            }
            &:not(:last-child) {
              border-bottom: 1px solid #e0e0e0;
            }
          }
        }
      }
      .video {
        background-color: #e0e0e0;
        padding: 8px 6px 6px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p {
          background-color: #FFF;
          padding: 10px;
          font-size: 14px;
          margin-top: 8px;
        }
      }
      @media (max-width: 991px) {
        display: block;
        .list {
          ul {
            width: 100%;
          }
        }
      }
    }
  }
}
.stats {
  background: url("../images/stats.png") center center/cover;
  .container {
    padding-top: 30px;
    padding-bottom: 30px;
    h2 {
      font-size: 30px;
      margin-bottom: 30px;
    }
    text-align: center;
    .content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      @media (max-width: 1199px) {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      }
      gap: 30px 30px;
      .item {
        padding: 20px;
        background-color: rgb(255, 255, 255);
        position: relative;
        i {
          font-size: 28px;
        }
        p {
          line-height: 1;
          &:first-of-type {
            margin: 15px 0;
            font-size: 30px;
            font-weight: 700;
          }
          &:last-of-type {
            font-size: 14px;
            font-style: italic;
            color: $mainColor;
          }
        }
        &::before,
        &::after {
          content: "";
          position: absolute;
          height: 0%;
          width: 2px;
          background-color: $mainColor;
          transition: all .7s ease-out;
        }
        &::before {
          top: 0;
          right: 0;
        }
        &::after {
          left: 0;
          bottom: 0;
        }
        &:hover {
          &::before,
          &::after {
            height: 100%;
          }
        }
      }
    }
  }

}
.discount {
  .content {
    display: flex;
    > div {
      flex-basis: 50%;
    }
    .image {
      height: 100vh;
      background: url("../images/discount-1.png") center center/cover;
      transition: all .7s ease-in-out;
      position: relative;
      z-index: 1;
      color: #FFF;
      @extend %f-center;
      flex-direction: column;
      text-align: center;
      h2 {
        font-size: 28px;
        margin-bottom: 25px;
      }
      p {
        padding: 0 80px;
        font-size: 15px;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #0776d8;
        opacity: .8;
        z-index: -1;
      }
      &:hover {
        background: url("../images/discount-2.png") center center/cover;
      }
    }
    .form {
      @extend %f-center;
      flex-direction: column;
      h3 {
        font-size: 30px;
        margin: 20px 0;
      }
      .input {
        position: relative;
        margin-bottom: 20px;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0px;
          width: 100%;
          height: 0px;
          background-color: $mainColor;
          transition: all .3s ease-out;
          z-index: 999;
        }
        &:hover {
          &::before {
            height: 2px;
          }
        }
      }
      input,
      textarea {
        width: 260px;
        border-style: solid;
        border-width: 0 0 2px 0;
        border-color: #e0e0e0;
        background-color: #f3f3f3fb;
        padding: 10px;
        font-size: 13px;
        color: #8d8c8c;
        color: $mainColor;
        &:focus {
          outline: none;
          &::placeholder {
            opacity: 0;
            transition: all .3s ease-in-out;
          }
        }
      }
      button {
        margin-top: 20px;
        margin-bottom: 30px;
        display: block;
        width: 260px;
        padding: 10px;
        cursor: pointer;
        background-color: $mainColor;
        border: none;
        border-radius: 3px;
        color: #FFF;
        font-weight: bold;
        
      }
    }
    @media (max-width: 991px) {
      flex-direction: column;
      .image {
        h2 {
          margin: 30px;
        }
        p {
          padding: 0 60px;
        }
        figure {
          margin: 50px;
        }
      }
    }
  }
}
footer {
  background-color: #191919;
  .container {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #FFF;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 25px 25px;
    p {
      color: #b2b2b2;
      font-size: 13px;
      line-height: 1.9;
    }
    .about {
      .logo {
        a {
          font-size: 28px;
          font-weight: 700;
          color: #FFF;
        }
      }
      .social {
        margin: 20px 0;
        a {
          display: inline-block;
          background-color: #313131;
          margin-right: 5px;
          color: #b2b2b2;
          transition: all .4s ease-in-out;
          i {
            width: 40px;
            height: 40px;
            @extend %f-center;
          }
          &:nth-child(1) {
            &:hover {
              background-color: #3b5598;
            }
          }
          &:nth-child(2) {
            &:hover {
              background-color: #00acee;
            }
          }
          &:nth-child(3) {
            &:hover {
              background-color: #c4302b;
            }
          }
        }
      }
      
    }
    .links {
      ul {
        li {
          transition: all .3s ease-in-out;
          &:not(:last-child) {
            border-bottom: 1px solid #444;
          }
          a {
            display: block;
            padding: 10px;
            color: #b2b2b2;
            font-size: 13px;
            transition: all .3s ease-in-out;
            i {
              color: $mainColor;
              font-size: 12px;
              padding-right: 8px;
            }
          }
          &:hover {
            a {
              color: $mainColor;
            }
            padding-left: 5px;
          }
        }
      }
    }
    .contact {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      div {
        display: flex;
        align-items: center;
        &:not(:last-child) {
          margin-bottom: 25px;
        }
      }
      i {
        color: $mainColor;
        font-size: 20px;
        margin-right: 15px;
      }
    }
    .insta {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: space-between;
      gap: 15px 15px;
      figure{
        width: 75px;
        img {
          border: 2px solid #FFF;
        }
      }
    }
    @media (max-width: 991px) {
      .about {
        text-align: center;
      }
      .contact {
        div {
          flex-direction: column;
          i {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
  .end {
    border-top: 1px solid #333;
    padding: 15px;
    color:  #b2b2b2;
    text-align: center;
    font-size: 14px;
  }

}

.head {
  a {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    border-width: 1px 2px 2px 1px;
    border-style: solid;
    padding: 5px 15px;
    text-transform: upperCase;
    position: relative;
    margin: 0 auto 80px;
    width: fit-content;
    display: block;
    color: #000;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -25px;
      transform: translateY(-50%);
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $mainColor;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -25px;
      transform: translateY(-50%);
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $mainColor;
    }
    &:hover {
      border-color: $mainColor;
      color: #FFF;
      transition: all .1s .3s ease-in-out;
      &::before {
        animation: left-bullets .3s ease-in forwards;
        z-index: -1;
      }
      &::after {
        animation: right-bullets .3s ease-in forwards;
        z-index: -1;
      }
    }
  }
}
%background {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    background-color: $backGroundColor;
    width: 100%;
    height: calc(100% - 20px);
    z-index: -2;
  }
  &::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: calc(100% - 20px);
    height: 20px;
    background-size: 20px;
    background-image: linear-gradient(315deg, $backGroundColor 25%, transparent 25%), linear-gradient(45deg, $backGroundColor 25%, transparent 25%);
    z-index: -2;
  }
}
%containerPadding {
  padding-bottom: 80px;
  padding-top: 80px;
}
